<div class="main-app">

{{!-- navigator --}}
<nav>
<div class="nav">

</div>
</nav>


<main class="main-cotent">

{{!-- title --}}
<div class="title">Campaign</div>


{{!-- table --}}
<div class="table-container">
<table>
  <tr class="table-header">
  </tr>
  <tr>part1</tr>
  <tr>part2</tr>
  <tr>part3</tr>
</table>
</div>

</main>
</div>