// basic setting
$dark-blue: #1e1c88;
$main-white: #f6f7f2;
$title-gray: #bebebe;
$table-gray: #e4e4e4;
$font-gray: #696969;

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* navigation */

.nav {
  background-color: $dark-blue;
  width: 100px;
  height: 100%;
}

/* main-app */

#main-app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* main-content */

#main-content {
  display: flex;
  flex-direction: column;
  background-color: $main-white;
  flex: 1;
  height: 100%;
}

/* title */

.title {
  font-size: 3rem;
  padding: 20px 20px 0px 55px;
}

/* table */

.table-container {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100px;
  table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    margin: 20px;
    font-size: 0.7rem;
    .table-group {
      margin: 3px;
      color: $font-gray;
      font-weight: 300;
    }
    thead {
      margin-right: 6px;
      margin-left: 6px;
      background-color: $title-gray;
    }
    tbody {
      overflow-y: scroll;
    }
    th {
      width: 120px;
      border-style: none;
    }
    .table-white {
      background-color: $main-white;
    }
    .table-gray {
      background-color: $table-gray;
    }
  }
}

.scrollbar {
  padding-left: 6px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
}